
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MaintainEmployerLayout.cshtml";
}

<h2>Details</h2>
<div class="details-container">
    <div class="candidate_applied_list_container">

    </div>

    <aside class="details-job-info shadow sticky-top ml-3 border-radius-5px">
        <section class="application-info-summary border-radius-5px">
            <div class="mb-3 mt-3 pi-3 apply-info-title">
                <h3>Thông tin chung</h3>
            </div>
            <div class="mb-3 mi-3">
                <h4>Vị trí ứng tuyển</h4>
                <p class="font-italic detail_nominee">Senior Developer (C#, Unity 3D, Sign-On Bonus)</p>
            </div>
            <div class="mb-3 mi-3">
                <h4>Địa chỉ</h4>
                <p class="font-italic detail_location">Hồ Chí Minh</p>
            </div>
            <div class="mb-3 mi-3">
                <h4>Mức lương</h4>
                <p class="font-italic detail_salary" style="color: red">2 tỏi</p>
            </div>
            <div class="mb-3 mi-3">
                <h4>Năm kinh nghiệm tối thiểu</h4>
                <p class="font-italic detail_experienceYear">Từ 3 năm</p>
            </div>
            <div class="mb-3 mi-3">
                <h4>Cấp bậc</h4>
                <p class="font-italic detail_level">Senior</p>
            </div>
            <div class="mb-3 mi-3">
                <h4>Loại hợp đồng</h4>
                <p class="font-italic detail_contractType">Fulltime</p>
            </div>
            <div class="mb-3 mi-3">
                <h4>Các công nghệ sử dụng</h4>
                <div class="skill-requirement-container skillReContainOFJobPosting">

                </div>
            </div>
        </section>
    </aside>
</div>
<script>
    resetNavOption("linApplyList");
</script>

<script src="~/Scripts/CustomScripts/ApplyList/Details.js"></script>
