
@{
    var username = Session["Username"] as string;
    var title = Html.Action("GetFullName", "Account", new { Username = username }) + " - Danh sách ứng tuyển";
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_MaintainEmployerLayout.cshtml";
}
@{
    if (ViewBag.ImageUrl == null)
    {
        //ViewBag.ImageUrl = "https://t3.ftcdn.net/jpg/01/80/31/10/360_F_180311099_Vlj8ufdHvec4onKSDLxxdrNiP6yX4PnP.jpg";
        ViewBag.ImageUrl = "../../../Resource/Image/fpt.png";
    }
}

<div class="business-info-container shadow border-radius-5px">
    <h2>Danh sách ứng tuyển</h2>
    @*<a href="@Url.Action("redirectToAccount", "Account", new { Username = Session["Username"]})"
        @*<input type="hidden" id="employer_username" value="@username" />
         <a class="card mb-3 al-job" href="@Url.Action("Details", "ApplyList", new { jobId = Session["Username"]})">

    *@
    <div class="al-job-container">

    </div>
</div>

<script>
    resetNavOption("linApplyList");
</script>

<script src="~/Scripts/CustomScripts/ApplyList/ApplyList.js"></script>