<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="../../Content/CustomLayout/_JobApplicationLayout.cshtml.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- @Styles.Render("~/Content/css") -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>
    <nav class="_JobApplicationLayout-nav">
        <div class="image-logo-container">
            <a href="" class="logo-name">Logo</a>
        </div>
        
        <div class="account-container">
            <div class="user-info">
                <a href="" class="users-name-info">Guest</a>
            </div>
            <div class="vertical-line"></div>
            <div class="login-signup"> 
                <a href="" class="login-link blue-button">Log in</a>
                <a href="" class="signup-link">Sign Up</a>
            </div>
        </div>
    </nav>

    <main class="_JobApplicationLayout-main">
        <div class="application-header-container">
            <div class="business-image-container">
                <img src="https://yt3.googleusercontent.com/ytc/APkrFKalw8-UrTQalgiW3u7dPj35IWZUDT-N2XSkPa1xhw=s900-c-k-c0x00ffffff-no-rj" alt="">
            </div>
            <div class="application-title-container">
                <div><h1 class="application-header">Senior Developer (C#, Unity 3D, Sign-On Bonus)</h1></div>
                <div><h2 class="bussiness-name">Fpt Software</h2></div>
                <div class="icon-and-text">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>
                        Tầng 2, toà Rivera Park, 69 Vũ Trọng Phụng, Phường Thanh Xuân Trung, Quận Thanh Xuân, Thành phố Hà Nội
                    </span>
                </div>
                <div class="icon-and-text">
                    <i class="fa-solid fa-money-bills"></i>
                    <span>2 tỷ</span>
                </div>
            </div>
            <label class="bookmark-container" for="favorite">
                <input type="checkbox" name="favorite" id="favorite">
                <i class="fa-solid fa-bookmark hiden-icon" style="color: #4d677c;"></i>
                <i class="fa-regular fa-bookmark front-icon"></i>
            </label>
        </div>
    </main>
</body>
</html>