<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="../../Content/CustomLayout/_HomeLayout.html.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- @Styles.Render("~/Content/css") -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>
    <nav class="_NoneSigninLayout-nav">
        <div class="image-logo-container">
            <a href="" class="logo-name">Logo</a>
        </div>
        
        <div class="account-container">
            <div class="user-info">
                <a href="" class="users-name-info">Guest</a>
            </div>
            <div class="vertical-line"></div>
            <div class="login-signup"> 
                <a href="" class="login-link blue-button">Log in</a>
                <a href="" class="signup-link">Sign Up</a>
            </div>
        </div>
    </nav>

    <main class="_NoneSigninLayout-main">
        <form method="get" action="" class="search-fliter-container">
            <div class="search-container s-f-emlement-container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="txtSearch" id="txtSearch" placeholder="Tìm công việc của bạn">
            </div>
            <div class="all-city-container s-f-emlement-container">
                <i class="fa-solid fa-location-dot"></i>
                <input type="text" name="txtCity" id="txtCity" placeholder="Tất cả thành phố">
            </div>
            <div class="all-posision-container s-f-emlement-container">
                <i class="fa-solid fa-suitcase"></i>
                <input type="text" name="txtPosision" id="txtPosision" placeholder="Tất cả vị trí">
            </div>
            <div class="all-salary-container s-f-emlement-container">
                <i class="fa-solid fa-wallet"></i>
                <input type="text" name="txtSalary" id="txtSalary" placeholder="Tất cả lương">
            </div>
            <div class="button-find-job s-f-emlement-container">
                <input type="submit" value="Find Job" class="blue-button">
            </div>
        </form>

        <aside class="filter-side-bar">
            <div class="work-city-container filter-box">
                <label for="">Nơi làm việc</label>
                <div id="work-city-ul" class="checkbox-list">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cityCheckbox1" value="option1">
                        <label class="form-check-label" for="cityCheckbox1">TP.Hồ Chí Minh</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cityCheckbox2" value="option2">
                        <label class="form-check-label" for="cityCheckbox2">Hà Nội</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cityCheckbox3" value="option3">
                        <label class="form-check-label" for="cityCheckbox3">Quy Nhơn</label>
                    </div>
                </div>
            </div>
            <div class="requirement-container filter-box">
                <label for="">Yêu cầu</label>
                <div id="requirement-ul" class="checkbox-list">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="requirementCheckbox1" value="option1">
                        <label class="form-check-label" for="requirementCheckbox1">C++</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="requirementCheckbox2" value="option2">
                        <label class="form-check-label" for="requirementCheckbox2">Java</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="requirementCheckbox3" value="option3">
                        <label class="form-check-label" for="requirementCheckbox3">JavaScript</label>
                    </div>
                </div>
            </div>
            <div class="salary-container filter-box">
                <label for="">Lương</label>
                <div id="salary-ul" class="checkbox-list">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="salaryCheckbox1" value="option1">
                        <label class="form-check-label" for="salaryCheckbox1">> 15 triệu</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="salaryCheckbox2" value="option2">
                        <label class="form-check-label" for="salaryCheckbox2">> 10 triệu</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="salaryCheckbox3" value="option3">
                        <label class="form-check-label" for="salaryCheckbox3"><= 10 triệu</label>
                    </div>
                </div>
            </div>
        </aside>

        <div class="render-body">
            @RenderBody()
        </div>
    </main>
</body>
</html>