* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -100px;
}


/*div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}*/


/* Blue-Button */

.blue-button {
    border-radius: 5px;
    background: #2aadff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
}

.blue-button:hover {
    background: #0776ff;
    transition: 0s;
    color: #ffffff;
}

.blue-button:active {
    background: #0162fe;
    color: #ffffff;
}

.blue-button:disabled {
    color: #0162fe;
    background: #b6e3ff;
}

.login-link {
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
}

.login-link:hover {
    background: #f5f5f5;
    color: #323c4e;
    transition: 0s;
}

.login-link:active {
    background: #efefef;
}

.login-link:disabled {
    color: #0162fe;
    background: #dcdcdc;
}


/* Vertical-line */

.vertical-line {
    margin: 0px 4px;
    font-weight: bold;
    height: 100%;
    width: 5px;
    background-color: #fff;
    border-radius: 6px;
}


/* Nav  */

._JobApplicationLayout-nav {
    height: 70px;
    width: 100%;
    background: #467fc5;
    display: flex;
    padding-inline: 45px;
    justify-content: space-between;
    align-items: center;
}

.image-logo-container {
    height: 100%;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.logo-name {
    text-decoration: none;
    color: #f5f5f5;
}

.logo-name:hover {
    color: #fff;
}

.account-container {
    height: 40px;
    width: 400px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}

.account-container a {
    display: flex;
    align-items: center;
}

.user-info {
    height: 40px;
    width: 200px;
    margin-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    position: relative;
}

.user-info i {
    font-size: 1.5em;
    margin-right: 10px;
}

.users-name-info {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}

.users-name-info:hover {
    cursor: pointer;
    color: #dcdcdc;
    transition: all linear 0.3s;
}

.login-signup {
    height: 40px;
    display: flex;
}

.login-signup a {
    margin-inline: 5px;
}

.login-signup .signup-link {
    color: #f5f5f5;
}

.login-signup .signup-link:hover {
    color: #dcdcdd;
    transition: all linear 0.3s;
    cursor: pointer;
}

.login-link {
    height: 100%;
    width: 90px;
}


/* Main */

._JobApplicationLayout-main {
    padding: 20px 140px 0px 140px;
    display: grid;
    justify-content: center;
    min-width: calc(100vh - 90px);
    width: 100%;
    background: #f5f5f5;
    position: relative;
    grid-template-columns: 900px calc(100% - 900px);
    grid-column-gap: 20px;
    align-items: start;
}

.application-info-container {
    display: flex;
    justify-content: start;
    position: relative;
    flex-direction: column;
}


/* HEADER SESSION  */

.application-header-container {
    display: grid;
    grid-template-columns: 188px calc(100% - 188px);
    width: 100%;
    background: #ffffff;
    position: relative;
    padding-block: 15px;
    margin-bottom: 15px;
    transition: 0.5s;
}

.business-image-container {
    display: flex;
    align-items: start;
    height: 100%;
    padding: 20px;
}

img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.application-title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: start;
}

.application-title-container div {
    width: 100%;
    justify-content: left;
}

.application-title-container h1 {
    font-size: 24px;
    font-weight: 700;
}

.application-title-container h2 {
    font-size: 17px;
    font-weight: 700;
    color: #5c5b5b;
}

.icon-and-text {
    display: flex;
    position: relative;
    align-items: start;
    margin-bottom: 5px;
}

.icon-and-text span {
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #5c5b5b;
}

.icon-and-text i {
    margin-top: 5px;
    position: absolute;
    color: #a6a1a1;
    font-size: 20px;
}

.bookmark-container {
    position: absolute;
    top: 25px;
    right: 25px;
    border: none;
    outline: none;
    background: transparent;
    height: 30px;
    width: 20px;
    display: grid;
    place-items: center;
}

.bookmark-container:hover {
    color: #4d677c;
}

.bookmark-container:active {
    color: #7f97aa;
}

.bookmark-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.front-icon {
    opacity: 1;
}

.hiden-icon {
    opacity: 0;
}

.bookmark-container input:checked+.front-icon {
    opacity: 0;
    z-index: -1;
}

.bookmark-container input:checked+.hiden-icon {
    opacity: 1;
    z-index: 1;
}

.bookmark-container i {
    position: absolute;
    font-size: 2em;
}

.application-header-container-minimize {
    display: flex;
    padding: 10px;
    justify-content: start;
}

.application-info-container nav {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    background: #ffffff;
}

.application-content-container {
    width: 100%;
    overflow: auto;
    justify-content: start;
    scroll-behavior: smooth;
    margin-top: 15px;
}

.content-box {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 400;
}


/* SIDEBAR SESSION */

.application-info-sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}

#btnApplyNow {
    border: none;
    outline: none;
    height: 55px;
    font-weight: 600;
    font-size: 1.2em;
}

.application-info-summary {
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.application-info-summary h3,
.application-info-summary>div {
    padding: 18px 18px 0 18px;
}

.application-info-summary h3 {
    font-size: 1.2em;
    padding-bottom: 18px;
    border-bottom: 1px solid #868484;
    color: #5c5b5b;
    font-weight: 700;
    margin: 0;
}

.application-info-summary>div {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: start;
}

.application-info-summary h4 {
    font-size: 1.1em;
    font-weight: 700;
}

.application-info-summary span {
    font-size: 1.1em;
    font-weight: 400;
}

.skill-requirement-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    flex: 1;
}

.skill-requirement-container a {
    font-weight: 400;
    background: #edfbff;
    padding: 1px 6px;
    text-decoration: none;
    color: #1047b2;
    border: 1px solid #ffffff;
    transition: 0.3s;
}

.skill-requirement-container a:hover {
    border: 1px solid #0f3e9d;
}

#bussinessInfo>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start
}

#bussinessInfo span {
    font-weight: 400;
}


/* ------------- */

.hiden-container {
    display: none;
}

.border-radius-5px {
    border-radius: 5px;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.content-box {
    background: #fff;
    padding: 20px;
}


/*..............*/

.hide-jobApp-main {
    position: relative;
    z-index: 0;
}


/** Apply from */

.apply_form_container {
    display: none;
    justify-content: center;
    align-items: start;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 1999;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
    transition: 0.2s;
}

.apply_form {
    min-width: 1100px;
    position: relative;
    width: 80%;
    min-height: 80vh;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;
    padding: 1rem;
    border-radius: 5px;
    background: #efefef;
    overflow: hidden;
}

.ck-editor__editable_inline {
    min-height: 260px;
}

.ck.ck-editor__main>div>* {
    font-weight: 400;
}

.cv-container {
    height: 665px;
    display: none;
}

.cv-container.visible {
    display: block;
}

.close-form-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 40px;
    display: grid;
    place-items: center;
    background: #bc7e7e;
    border-radius: 0 0 0 5px;
    transition: 0.2s;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

.close-form-button:hover {
    background: #ff6a00;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.close-form-button:active {
    background: #ff0000;
}

.apply-submit-message-container {
    max-width: 390px;
    position: fixed;
    z-index: 2;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    left: 50%;
    translate: -50% 0;
    transition: 0.4s;
}

.message_box_logout.apply-submit-message-container {
    display: none;
}

.btnSubmitCancel {
    margin: 4px 20px;
    padding: 4px 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(238, 50, 66, 0.8);
    color: #fff;
}

.btnSubmitOk {
    margin: 4px 20px;
    padding: 4px 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #1f96ff;
    color: #fff;
}

.btnSubmitCancel:hover,
.btnSubmitOk:hover {
    opacity: 0.7;
    transition: 0.2s;
}


/*-------------------------------*/

.font-italic {
    font-style: italic
}

.mr-3 {
    margin-right: 1rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mi-3 {
    margin-inline: 1rem !important;
}

.pi-3 {
    padding-inline: 1rem !important;
}

.pb-3 {
    padding-block: 1rem !important;
}

.font-bold {
    font-weight: 700;
}

.border-radius-5px {
    border-radius: 5px;
}

.height-1 {
    height: 100%;
}

.shadow {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}