* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f9fbfd;
}

.header-nav {
    position: fixed;
    height: 60px;
    width: 100%;
    background: #1f95fd;
    top: 0;
    z-index: 1;
}

.side-bar {
    position: fixed;
    height: 100dvh;
    width: 260px;
    background: #ffffff;
    top: 0;
    z-index: 2;
}

.logo-container {
    height: 60px;
    background: #1572e8;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

    .logo-container h1 {
        font-size: 2em;
        font-weight: 600;
    }

        .logo-container h1 a {
            color: #ffffff;
            text-decoration: none;
        }

        .username-icon {
            height: 75px;
            margin-inline: 25px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 600;
            color: #8c8c8c;
            border-bottom: 1px solid #8c8c8c;
        }

    .username-icon i {
        font-size: 1.7em;
    }

.nav-container {
    margin-inline: 15px;
    display: flex;
    align-items: start;
    margin-top: 20px;
    color: #8c8c8c;
    flex-direction: column;
    font-size: 1rem;
}

    .nav-container > span {
        padding-inline: 10px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .nav-container a {
        text-decoration: none;
        color: #8c8c8c;
        font-weight: 600;
    }

.nav-option {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
}

    .nav-option.option-active {
        background: #1572e8;
        color: #ffffff;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }


.page-content-container {
    padding: 85px 30px 0 290px;
    width: 100%;
    /*height: 100vh;*/
    position: relative;
    z-index: 0;
}

    .page-content-container .render-body-container {
        padding: 0;
        position: relative;
        height: 100%;
        background: #f8fafc;
    }

/* ---  */

.two-btn-container{
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-italic {
    font-style: italic
}

.mr-3 {
    margin-right: 1rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mi-3 {
    margin-inline: 1rem !important;
}

.pi-3 {
    padding-inline: 1rem !important;
}

.pb-3 {
    padding-block: 1rem !important;
}

.font-bold {
    font-weight: 700;
}

.border-radius-5px {
    border-radius: 5px;
}

.height-1 {
    height: 100%;
}

.ck.ck-reset {
    height: 100%;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
    height: 100%;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {
    height: 100%;
}


.message_box_logout {
    min-width: 250px;
    display: block;
    border-radius: 10px;
    background-color: #fff;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(0, 0, 0, 0.4); */
    animation: fadeIn 1s ease forwards;
    transition: 1s;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.apply-submit-message-container {
    max-width: 390px;
    position: fixed;
    z-index: 2;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    left: 50%;
    translate: -50% 0;
    transition: 0.4s;
    z-index: 2001;
}

.title_box {
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
}

.title_message_logout {
    font-weight: 600;
    text-align: center;
}

.title_box {
    height: 50px;
    color: #fff;
    background-color: #1f96ff;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.main_message {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title_message_logout {
    color: #157cd6;
}

.contain_logout_btn {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btnSubmitCancel {
    margin: 4px 20px;
    padding: 4px 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(238, 50, 66, 0.8);
    transition: 0.7s;
    color: #fff;
}

    .btnSubmitCancel:hover {
        opacity: 0.7;
    }

.btnSubmitOk {
    margin: 4px 20px;
    padding: 4px 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #1f96ff;
    color: #fff;
    transition: 0.7s;
}

    .btnSubmitOk:hover {
        opacity: 0.7;
    }