
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NoneSigninHomeLayout.cshtml";
    ViewBag.ImageUrl = "https://yt3.googleusercontent.com/ytc/APkrFKalw8-UrTQalgiW3u7dPj35IWZUDT-N2XSkPa1xhw=s900-c-k-c0x00ffffff-no-rj";

}

<div class="card flex-direction-column mb-3 job" style="width: auto">
    <div class="img-container">
        <img src="@ViewBag.ImageUrl" class="image-fit-width" alt="...">
    </div>
    <div class="card-body ">
        <div>
            <a href="/JobDetails/Details/1" class="card-title font-bold job-title">Job Posting Title</a>
        </div>
        <div>
            <span class="company-name">Company name</span>
        </div>
        <div>
            <span class="job-salary">2 tỏi</span>
        </div>
        <div>
            <span class="address">Hồ Chí Minh</span>
        </div>
        <div class="skill-container">
            <a href="#" class="border-radius-5px">C#</a>
            <a href="#" class="border-radius-5px">Java</a>
            <a href="#" class="border-radius-5px">C++</a>
            <a href="#" class="border-radius-5px">JavaScript</a>
            <a href="#" class="border-radius-5px">.Net</a>
        </div>
    </div>
</div>

<div class="card flex-direction-column mb-3 job" style="width: auto">
    <div class="img-container">
        <img src="@ViewBag.ImageUrl" class="image-fit-width" alt="...">
    </div>
    <div class="card-body ">
        <div>
            <a href="/JobDetails/Details/1" class="card-title font-bold job-title">Job Posting Title</a>
        </div>
        <div>
            <span class="company-name">Company name</span>
        </div>
        <div>
            <span class="job-salary">2 tỏi</span>
        </div>
        <div>
            <span class="address">Hồ Chí Minh</span>
        </div>
        <div class="skill-container">
            <a href="#" class="border-radius-5px">C#</a>
            <a href="#" class="border-radius-5px">Java</a>
            <a href="#" class="border-radius-5px">C++</a>
            <a href="#" class="border-radius-5px">JavaScript</a>
            <a href="#" class="border-radius-5px">.Net</a>
        </div>
    </div>
</div>

<div class="card flex-direction-column mb-3 job" style="width: auto">
    <div class="img-container">
        <img src="@ViewBag.ImageUrl" class="image-fit-width" alt="...">
    </div>
    <div class="card-body ">
        <div>
            <a href="/JobDetails/Details/1" class="card-title font-bold job-title">Job Posting Title</a>
        </div>
        <div>
            <span class="company-name">Company name</span>
        </div>
        <div>
            <span class="job-salary">2 tỏi</span>
        </div>
        <div>
            <span class="address">Hồ Chí Minh</span>
        </div>
        <div class="skill-container">
            <a href="#" class="border-radius-5px">C#</a>
            <a href="#" class="border-radius-5px">Java</a>
            <a href="#" class="border-radius-5px">C++</a>
            <a href="#" class="border-radius-5px">JavaScript</a>
            <a href="#" class="border-radius-5px">.Net</a>
        </div>
    </div>
</div>

