
@{
    ViewBag.Title = "Index";
    if (Session["Username"] != null)
    {
        Layout = "~/Views/Shared/_SignedinHomeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_NoneSigninHomeLayout.cshtml";
    }
    ViewBag.ImageUrl = "https://yt3.googleusercontent.com/ytc/APkrFKalw8-UrTQalgiW3u7dPj35IWZUDT-N2XSkPa1xhw=s900-c-k-c0x00ffffff-no-rj";

}

<script>
    //Function used to riderect to job details page
    const redirectToJobDetail = (jobID) => {
        console.log(jobID);
        window.location.href = `http://localhost:56673/JobDetails/Details/${jobID}`;
    }

    let GetAllJobAPI = "http://localhost:56673/api/JobPostings/GetAllJobPostings"
    let SearchAPI = "http://localhost:56673/api/JobPostings/SearchForJobPosting"
    var doomHtml = function (APIUrl) {
        fetch(APIUrl)
        .then(function (res) {
            return res.json();
        })
        .then(function (datas) {
            let htmls = datas.map(function (data) {
                return `<div class="card flex-direction-column mb-3 job" style="width: auto" onclick="redirectToJobDetail(${data.job_id})">
                            <div class="img-container">
                                <img src="@ViewBag.ImageUrl" class="image-fit-width" alt="...">
                            </div>
                            <div class="card-body ">
                                <div>
                                    <a href="/JobDetails/Details/${data.job_id}" class="card-title font-bold job-title">${data.title}</a>
                                </div>
                                <div>
                                    <span class="company-name">${data.Employer.company_name}</span>
                                </div>
                                <div>
                                    <span class="job-salary">${data.salary}</span>
                                </div>
                                <div>
                                    <span class="address">${data.location}</span>
                                </div>
                                <div class="skill-container">
                                    ${data.JobSkills.map(function (skill) {
                                        return `<a href="${skill.SkillRequirement.skill_id}" class="border-radius-5px">${skill.SkillRequirement.skill_name}</a>`
                                    }).join('')}
                                </div>
                            </div>
                        </div>`;
            });
            html = htmls.join('');
            document.getElementById("renderBody").innerHTML = html;
            console.log(datas);
        });
    }

    doomHtml(GetAllJobAPI);
    document.querySelector("#btnSearch").addEventListener("click", (e) => {
        e.preventDefault();
        let title = document.getElementById("txtSearch").value;
        let location = document.getElementById("txtCity").value;
        let skill = document.getElementById("txtPosision").value;
        let salary = document.getElementById("txtSalary").value;
        salary = salary == "" ? "0" : salary;
        const newUrl = new URL(SearchAPI);
        newUrl.searchParams.append('title', title);
        newUrl.searchParams.append('location', location);
        newUrl.searchParams.append('salary', salary); 
        newUrl.searchParams.append('skill_name', skill);
        
        doomHtml(newUrl);
        
    })
</script>
