<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Content/Profile/Profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="icon" type="image/png" href="https://scontent.fdad3-5.fna.fbcdn.net/v/t39.30808-6/286246170_111456938253646_3843758757949758306_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=qH5UBgiAzpgAX-puN4U&_nc_ht=scontent.fdad3-5.fna&oh=00_AfDhOAFQv3IPuxJd8Xbj9xNc5b9_-bhVZ4_Cq_hv4kufGg&oe=658063B3">
    <title>Employer Profile</title>
</head>

<body>
    <nav class="_NoneSigninLayout-nav">
        <div class="image-logo-container">
            <a href="" class="logo-name">Logo</a>
        </div>

        <div class="account-container">
            <div class="user-info">
                <a href="" class="users-name-info" id="userProfile"><i class="fa-regular fa-circle-user"></i> Username</a>
            </div>
            <div class="vertical-line"></div>
            <div class="login-signup">
                <a href="" class="signup-link">Log out</a>
            </div>
        </div>
    </nav>


    <div class="contain_profile">
        <div class="main_profile">
            <div class="left_profile">
                <div class="contain_avatar">
                    <img src="https://scontent.fdad3-5.fna.fbcdn.net/v/t39.30808-6/286246170_111456938253646_3843758757949758306_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=qH5UBgiAzpgAX-puN4U&_nc_ht=scontent.fdad3-5.fna&oh=00_AfDhOAFQv3IPuxJd8Xbj9xNc5b9_-bhVZ4_Cq_hv4kufGg&oe=658063B3" alt="Profile picture" class="avatar_Profile">
                    <p class="avatar_name">Liliana - Nguyệt Mị Ly</p>
                </div>

                <div class="user_infor">
                    <div class="ip_profile_rowIp">
                        <label for="ip_txtFullName" class="lb_ip_profile">Full name:</label>
                        <input type="text" name="txtFullname" id="ip_txtFullName" class="ip_Profile ip_hover disabled" value="Liliana">
                    </div>

                    <div class="ip_profile_rowIp">
                        <label for="ip_txtEmail" class="lb_ip_profile">Email:</label>
                        <input type="text" name="txtEmail" id="ip_txtEmail" class="ip_Profile ip_hover disabled" value="Liliana@gmail.com">
                    </div>

                    <div class="ip_profile_rowIp ip_profile_rowIp_hide">
                        <label for="ip_txtRole" class="lb_ip_profile">Image url:</label>
                        <input type="file" name="txtImageUrl" id="ip_txtImageUrl" class="ip_Profile ip_hover disabled">
                    </div>

                    <div class="contain_button_profile">
                        <input type="submit" value="Edit profile" name="btn_edit" id="btn_edit">
                    </div>

                </div>
            </div>

            <div class="right_profile">
                <div class="tab_list">
                    <div class="tab">Additional information</div>
                </div>

                <div class="tab_content_container">
                    <div class="tab_content" id="additional_infor">
                        <div class="ip_profile_rowIp">
                            <label for="ip_txtRole" class="lb_ip_profile">Role:</label>
                            <input type="text" name="txtRole" id="ip_txtRole" class="ip_Profile ip_right_profile ip_hover disabled" value="Candidate">
                        </div>

                        <div class="ip_profile_rowIp">
                            <label for="ip_txtAddress" class="lb_ip_profile">Address:</label>
                            <input type="text" name="txtAddress" id="ip_txtAddress" class="ip_Profile ip_right_profile ip_hover disabled" value="Tam Quan, Hoài Nhơn, Bình Định">
                        </div>

                        <div class="ip_profile_rowIp">
                            <label for="ip_txtAddress" class="lb_ip_profile">Employer name:</label>
                            <input type="text" name="ip_txtEmployerName" id="ip_txtEmployerName" class="ip_Profile ip_right_profile ip_hover disabled" value="FPT software">
                        </div>

                        <div class="ip_profile_rowIp">
                            <label for="ip_txtSkills" class="lb_ip_profile">Skill:</label>
                            <input type="text" name="txtSkills" id="ip_txtSkills" class="ip_Profile ip_right_profile ip_hover disabled" value="C#, .NET, SQL, JavaScript">
                        </div>

                    </div>
                </div>

                <div class="contain_btnCancelSave">
                    <input type="button" value="Save" name="btnSave" id="btn_save" class="btnCancelSave">
                    <input type="button" value="Cancel" name="btnCancel" id="btn_cancel" class="btnCancelSave">
                </div>

            </div>
        </div>

        <div class="conatain_job_applicated">
            <div class="tab">Jobs for applicated</div>
            <div class="job_applicated_list">
                <div class="job_applicated_item">
                    <div class="logo_company">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/FPT_Software_Logo.png" alt="">
                    </div>
                    <div class="content_job_applicated_item">
                        <div class="job_title row_content">Senior Developer (C#, Unity 3D, Sign-On Bonus)</div>
                        <div class="employeer_name row_content">Fpt software</div>
                        <div class="employeer_location row_content main_contain"><i class="fa-solid fa-location-dot location_icon"></i> Tầng 2, toà Rivera Park, 69 Vũ Trọng Phụng, Phường Thanh Xuân Trung, Quận Thanh Xuân, Thành phố Hà Nội</div>
                        <div class="employeer_salary row_content main_contain"><i class="fa-solid fa-dollar-sign dolar_icon"></i> 1000</div>
                        <div class="employer_description row_content main_contain">
                            We are looking for a Java developer with 2+ years of experience in web development. You will be responsible for developing and maintaining web applications using Java, Spring Boot, Hibernate, and MySQL. You will also work with
                            other developers and testers in an agile environment.
                        </div>
                    </div>
                    <div class="japp_delete_icon"><i class="fa-regular fa-trash-can"></i></div>
                </div>

                <div class="job_applicated_item">
                    <div class="logo_company">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/FPT_Software_Logo.png" alt="">
                    </div>
                    <div class="content_job_applicated_item">
                        <div class="job_title row_content">Senior Developer (C#, Unity 3D, Sign-On Bonus)</div>
                        <div class="employeer_name row_content">Fpt software</div>
                        <div class="employeer_location row_content main_contain"><i class="fa-solid fa-location-dot location_icon"></i> Tầng 2, toà Rivera Park, 69 Vũ Trọng Phụng, Phường Thanh Xuân Trung, Quận Thanh Xuân, Thành phố Hà Nội</div>
                        <div class="employeer_salary row_content main_contain"><i class="fa-solid fa-dollar-sign dolar_icon"></i> 1000</div>
                        <div class="employer_description row_content main_contain">
                            We are looking for a Java developer with 2+ years of experience in web development. You will be responsible for developing and maintaining web applications using Java, Spring Boot, Hibernate, and MySQL. You will also work with
                            other developers and testers in an agile environment.
                        </div>
                    </div>
                    <div class="japp_delete_icon"><i class="fa-regular fa-trash-can"></i></div>
                </div>
            </div>
            <div>
                <input type="submit" name="btn_Edit_job_applicated" id="btn_Edit_job_applicated" class="btn_edit_list" value="Edit job applicated">
                <input type="submit" name="Cabtn_cancel_edit_jppncel" id="btn_cancel_edit_jpp" class="btn_cacel_japp_fav" value="Cancel">
            </div>
        </div>
    </div>

    <script src="../../Scripts/CustomScripts/Profile/Profile.js">

    </script>
</body>

</html>