.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.card {
    transition: 0.2s;
}

    .card:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

.card-body {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.img-container {
    width: 100%;
    display: flex;
    padding-inline: 1rem;
    justify-content: start;
}

.job .card-body a {
    text-decoration: none;
}

.job .card-body .card-title {
    font-size: 18px;
    line-height: 1.5rem;
    letter-spacing: .00563rem;
}

.job .card-body .company-name {
    font-weight: 600;
    color: #5c5b5b;
}

.job .card-body .job-salary {
    color: #e77764;
    font-weight: 400;
}

.job .card-body .address {
    color: #696969;
    font-weight: 400;
}

.skill-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 0.5rem;
    justify-content: start;
}

    .skill-container a {
        font-weight: 400;
        background: #edfbff;
        padding: 2px 10px;
        text-decoration: none;
        color: #1047b2;
        border: 1px solid #ffffff;
        transition: 0.3s;
    }

        .skill-container a:hover {
            border: 1px solid #0f3e9d;
        }


.image-fit-width {
    height: 90px;
    width: fit-content;
    object-fit: contain
}

.image-fit-height {
    height: 100%;
    object-fit: contain;
}
